<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @order.car_id %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>No:</strong>
  <%= @order.no %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
