<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :paid_at %><br>
    <%= f.datetime_select :paid_at %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :card_no %><br>
    <%= f.text_field :card_no %>
  </div>
  <div class="field">
    <%= f.label :bank %><br>
    <%= f.text_field :bank %>
  </div>
  <div class="field">
    <%= f.label :no %><br>
    <%= f.text_field :no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
