<% content_for :page_title do %>
<%= render "title" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="portlet-body form">
        <%= form_for(@car, html: { class: "form-horizontal" }) do |f| %>
         <div class="form-body">
           <%= f.error_messages %>
           <h4 class="form-section">基本信息</h4>
           <div class="form-group">
             <%= render "shared/column", name: "型号", content: f.c_text_field(:model) %>
             <%= render "shared/column", name: "排量", content: f.c_text_field(:cc) %>
             <%= render "shared/column", name: "颜色", content: f.c_text_field(:color) %>
           </div>

           <div class="form-group">
             <%= render "shared/column", name: "车架号", content: f.c_text_field(:vin) %>
             <%= render "shared/column", name: "价格", content: f.c_text_field(:price) %>
           </div>
         </div>
         <div class="form-actions right">
           <button type="submit" class="btn">保存</button>
         </div>
        <% end %>
        </div>
    </div>
  </div>
</div>